*{
    margin: 0;
    padding:0;
    font-family: 'Poppins';
  }
 body{
    margin: 1rem;
    background: rgb(251, 240, 240);
 }
  nav{
    background: black;
    padding: 1px;
    color: #f6e97a;
    border-radius: 5rem;
  }
  nav > h1{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 800; 
    margin-left: 2rem;
    margin-bottom: 6px;
  }
  .main__container{
    margin-top: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .canvas__container{
    min-width: 70%;
    max-width: 80%;
    min-height: 26rem;
  }
  .canvas__container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}
  #signatureCanvas{
    width: 900px;
    border: 2px solid black;
  }
  button{
    padding: 8px 22px 8px 22px;
    font-size:1rem;
    font-weight: bolder;
    background: #f6e97a;
    border: 3px solid black;
    border-radius: 0.5rem;
    transition: 1s;
  }
  button:hover{
    cursor: pointer;
  }